<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="check-dc-concept" transaction-type="RESOURCE_LOCAL">

        <class>com.company.checkdcconcept.entity.A</class>
        <class>com.company.checkdcconcept.entity.B</class>
        <class>com.company.checkdcconcept.entity.AManyToManyB</class>
    </persistence-unit>
</persistence>
